.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 10px 15px;
}

.account a {
  text-decoration: none;
  font-family: sans-serif;
  color: blue;
}